---
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout>
  <div class="text-center">
    <h1>Reach me &lt;3</h1>
    <p><b>Discord:</b> mawfyy</p>
    <p><b>Email:</b> mawfyy12@gmail.com</p>
  </div>
</BaseLayout>
