---
import Navbar from '../components/Navbar.astro' 
import Socials from '../components/Socials.astro' 
import Footer from '../components/Footer.astro' 
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
  <div class="h-screen grid place-content-center">
    <main class="text-center">
      <h1>Hello, I'm Mawfyy</h1>
      <p>I'm Software developer focused on Web, OS and Reverse Engineering, nice to meet you. <3</p>
      <Navbar />
      <Socials /> 
      <Footer />
    </main>
  </div>
<BaseLayout />
