---
import Socials from '../components/Socials.astro' 
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
  <main class="h-screen grid place-content-center text-center">
    <h1>Hello, I'm Mawfyy</h1>
    <p>I'm Software developer focused on Web, OS, Reverse Engineering, nice to meet you. <3</p>
    <Socials /> 
  </main>
</BaseLayout>
