---
import BaseLayout from '../layouts/BaseLayout.astro'
import { Image } from 'astro:assets';
const media = [
    { name: "I got marriage on December 20 <3", 
    images: [
      "/media/marriage/20250610_014141.jpg",
      "/media/marriage/20250610_014148.jpg"
    ]
  }
];
---
<BaseLayout>
  <ul>
    {media.map(content => {
      return (
        <li class="grid text-center">
          <div class="flex justify-center space-x-2 m-2">
            {content.images.map(image_media => (
              <a
                href={image_media} {/* Use the original source URL of the image */}
                target="_blank"     {/* Opens the link in a new tab */}
                rel="noopener noreferrer" {/* Security best practice for target="_blank" */}
                class="block"
              >
                <Image class="rounded-sm" src={image_media} width="200" alt="marriage_photo" height="200"/>
              </a>
            ))}
          </div>
          <p>{content.name}</p>
        </li>
      )
    })}
  </ul>
</BaseLayout>
