---
const pages = [
  { name: "Home", route: "/" }, 
  { name: "About me", route: "/about-me" }, 
  { name: "Contact me", route: "/contact-me" }, 
  { name: "Blogs", route: "/blog" },
  { name: "Projects", route: "/projects" }, 
  { name: "Media", route: "/media" }, 
];
---
<nav>
  <ul class="flex space-x-4 m-8 justify-center">
    {pages.map(({name, route}) => <li><a href={route} class="underline">{name}</a></li>)}
  </ul>
</nav
